<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2> Welcome , {{ user.alias }}!</h2>
    <p> {{ user.poked.all|length }} people poked you!</p>
    <a href="/logout">Logout</a>

   <table>
       <thead>
            <tr>
                <td>Name</td>
                <td>Alias</td>
                <td>Email Address</td>
                <td>Poke History</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.alias }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.poked.all|length }}</td>
                <td>
                    <a href="{% url "pokes" id=user.id %}"><button>Poke</button></a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>
    
    
    